.welcomeBack-h2 {
  margin-top: -50px;
  color: black;

}

.loginBox {
  position: relative;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border: 2px solid #b2b2b2;
  align-items: center;
  align-content: center;
  padding: 50px;
  font-size: 18px;
  border-radius: 15px;
  z-index: 1;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255, 0.4));
}

.label-email,
.label-Name {
  margin: 10px;
  margin-left: -85%;
  color: black;
}

.label-pass {
  margin: 10px;
  margin-left: -80%;
  color: black;
}


.input-email,
.input-pass,
.login-button {
  width: 400px;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
  border: 1px solid #b2b2b2;
  color: black;
}

.login-button:hover {
  background-color: rgb(100, 100, 100);
  border: 1px solid #b2b2b2;
  width: 410px;
  cursor: pointer;
  transition: 0.8s;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.toggle-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
}