.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.background-container {
  width: 45%;
  height: 98%;
  background-image: url("../../../public/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 15px gray;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}


.icon-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%;
}

.welcomeBack-h1 {
  margin: 0;
  margin-left: 10px;
  color: black;
}


.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.welcomeBack-h2 {
  margin: 0;
  color: black;
  font-size: 50px;
  writing-mode: horizontal-tb;
  text-orientation: mixed;       
  white-space: nowrap;           
}


.welcomeBack-p {
  margin: 0;
  margin-bottom: 15px;
  color: #5d5d5d;
}

.loginBox {
  position: relative;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: stretch;


  padding: 30px;
  font-size: 18px;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255, 0.4));
}


.label-email,
.label-Name,
.label-pass {
  margin: 10px 0 10px 0;
  margin-right: auto;
  color: black;
}


.input-email,
.input-pass {
  width: 100%;
  background-color: #f3f3f3;
  color: black;
}

.login-button {
  background-color: #2490b7;
  color: white;
}

.input-email,
.input-pass,
.login-button {
  padding: 10px;

  border-radius: 10px;
  border: 1px solid #b2b2b2;
}

.input-email:focus,
.input-pass:focus {
  background-color: #2490b76b;
  border: 1px solid #2490b7;
  outline: none;
  box-shadow: 0 0 12px #2490b771;
  transition: 0.3s ease;
}

.login-button:hover {
  background-color: #2490b76b;
  border: 1px solid #2490b7;
  outline: none;
  box-shadow: 0 0 12px #2490b771;
  transition: 0.3s ease;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.toggle-pass {
  position: absolute;
  right: -12px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}


.footer {
  margin-bottom: 15px;
}

p {
  font-size: 15px;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
}

a {
  color: black;
}