.dashboard {
    display: block;
    padding-top: 80px;
    z-index: 1;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.dashboard-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.dashboard-title {
    justify-content: flex-start;
    color: #000000;
}

.dashboard-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-btn {
    padding: 8px 12px;
    margin-right: 15px;
    background: #10b981;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #0b7f58;
    transition: all 0.5s;
}

.join-btn {
    padding: 8px 12px;
    margin-right: 15px;
    background: #28a745;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #0a6849;
    transition: all 0.5s;
}


.Cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
}

.courses-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;
}

.share-code {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 12px 25px;
}

.share-code-text {
    font-size: 18px;
    font-weight: bold;
}

.code-copy {
    margin-top: 8px;
    padding: 12px 28px;
    background: #7c7c7c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.code-copy:hover {
    background-color: #5a5a5a;
    transition: all 0.5s;
}