.myTasks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 340px;
    background-color: #ecf0fd;
}


.myTasks-header {
    width: 90%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 12px;
}

h1.header-h1 {
    margin: 0;
    font-size: 28px;
    color: black;
}

h4.header-h4 {
    margin: 0;
    font-size: 16px;
    color: rgb(65, 65, 65);
}

.myTasks-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
    gap: 16px;
    height: 140px;
}

.total-Tasks {
    flex: 1;
    min-width: 200px;
    height: 100px;
    background-color: white;
    border: 1px solid rgba(227, 232, 241);
    border-radius: 5px;
    padding: 10px 0 0 10px;
}

.pending-Tasks {
    flex: 1;
    min-width: 200px;
    height: 100px;
    background-color: white;
    border: 1px solid rgba(227, 232, 241);
    border-radius: 5px;
    padding: 10px 0 0 10px;
}

.completed-Tasks {
    flex: 1;
    min-width: 200px;
    height: 100px;
    background-color: white;
    border: 1px solid rgba(227, 232, 241);
    border-radius: 5px;
    padding: 10px 0 0 10px;
}

.number-Courses {
    flex: 1;
    min-width: 200px;
    height: 100px;
    background-color: white;
    border: 1px solid rgba(227, 232, 241);
    border-radius: 5px;
    padding: 10px 0 0 10px;
}

.sub-tilte {
    margin: 10px;
    font-size: 16px;
    color: rgb(113, 113, 113);
}

.sub-count {
    padding: 50px 0 0 30px;
    font-size: 28px;
    color: rgb(47, 47, 47);
}