.course-container {
  width: 70%;
  height: 75%;
  min-width: 850px;
  background-color: #ffffff;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  z-index: 1;
  overflow-y: auto;
}

.course-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 15px;
  border-bottom: 4px solid #000000;
  color: #000000;
}

.course-title,
.course-code {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.back-btn {
  padding: 6px;
  background-color: white;
  border: 0;
  color: #000000;
}

.back-btn:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  color: #000000;
  transition: all 0.25s;
}

.new-task-button {
  padding: 6px 12px;
  margin-left: 10px;
  background-color: #2490b7;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.new-task-button:hover {
  box-shadow: 0 0 12px #2490b771;
  transform: translateY(-2px);
  cursor: pointer;
  transition: all 0.3s;
}

.code-btn {
  margin-left: auto;
}

.course-body {
  padding: 15px;
}

.tab-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.tab {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #a3a3a3;
}

.online-box {
  display: flex;
  flex-direction: row;
}

.online-indicator {
  width: 10px;
  height: 10px;
  margin: 9px -25px 10px 0;
  border-radius: 50%;
  background-color: #00ce00;
  border: 1px solid #00a700;
  animation: pulseAnimation 1.5s infinite ease-in-out;
  box-shadow: 0 0 10px #00fb00;
}

@keyframes pulseAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.online-user {
  width: 150px;
  color: #000000;
  font-size: 16px;
  padding: 5px;
  border-left: 3px solid #2490b7;
}

.tab.active {
  color: #2490b7;

  border-bottom: 2px solid #2490b7;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.filters-container {
  margin-top: 15px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #b2b2b2;
  margin-bottom: 20px;
}

.top-row {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  background-color: #ffffff;
  color: black;
  padding: 12px 15px;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  font-size: 15px;
}

.search-input:hover {
  border-color: #2490b7;
}

.search-input:focus {
  border-color: #2490b7;
  box-shadow: 0 0 12px #2490b771;
}

.bottom-row {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.filter-select {
  flex: 1;
  padding: 12px;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  background: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.filter-select:hover {
  border-color: #2490b7;
}

.filter-select:focus {
  border-color: #2490b7;
  box-shadow: 0 0 12px #2490b771;
}

.filter-select option {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

select {
  color: #000000;
}