/* Main container */
.nav-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Navigation bar */
.nav-bar {
    background: #ffffff66;
    width: 90%;
    height: 85px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    position: relative;

    margin-top: -150px;
}

/* Concave shape */
.concave {
    position: absolute;
    top: 25px;
    width: 120px;
    height: 60px;
    background: #242424;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Floating center button */
.center-button {
    position: absolute;
    top: -100px;
    width: 70px;
    height: 70px;
    background: #6fa7b5ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffffff;
    font-size: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.center-button:hover{
    top: 45px;
    filter: drop-shadow(0 0 15px hsla(0, 0%, 85%, 0.548));
    transition: 0.5s;
}

/* Link styling */
.nav-bar a {
    font-size: 25px;
    text-decoration: inherit;
    color: hsla(0, 0%, 100%, 0.863);
    transition: 0.2s;
}

/* Hover effect */
.nav-bar a:hover {
    color: #ffffff;
    font-size: 30px;
    filter: drop-shadow(0 0 5px hsla(0, 0%, 85%, 0.548));
    transition: 0.5s;
}
