.member-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 8px 10px;
    border: 1px solid #4d4d4d;
    border-radius: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
}

.member-row:hover {
    background: #646464;
}