.registerBox {
  position: relative;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: stretch;

  padding: 50px;
  font-size: 18px;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255, 0.4));
}

.nameBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-button {
  margin: 15px 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #007bff;
  border: 1px solid #b2b2b2;
  color: rgb(255, 255, 255);
}

.register-button:hover {
  background-color: #007bff76;
  border: 1px solid #007bff;
  outline: none;
  box-shadow: 0 0 10px #007bff80;
  transition: 0.3s ease;
  cursor: pointer;
}

.input-fname,
.input-lname {
  padding: 10px;
  border-radius: 10px;
  background-color: #f3f3f3;
  width: 185px;
  border: 1px solid #b2b2b2;
  color: black;
}

.input-fname:focus,
.input-lname:focus {
  background-color: #007bff76;
  border: 1px solid #007bff;
  outline: none;
  box-shadow: 0 0 10px #007bff80;
  transition: 0.3s ease;
}