.registerBox {
    position: relative;
    min-width: 400px;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(82, 82, 82, 0.685);
    align-items: center;
    align-content: center;
    padding: 50px;
    font-size: 18px;
    border-radius: 15px;
    z-index: 1;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255, 0.4));
}


.welcome-h2 {
    margin-top: -50px;

}

.register-button {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 75%, 0.432);
}

.register-button:hover {
    background-color: rgb(78, 78, 78);
    border: 1px solid rgb(150, 150, 150);
    width: 410px;
    cursor: pointer;
    transition: 0.8s;
}