

.container{
    position: "relative";
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    gap: 5px;


}
.couresCard{
    border: 1px solid hsla(0, 0%, 57%, 0.582);
    width: 70%;
    display: flex;
    flex-direction: row;
    
}
div.couresCard > h3{
    position: relative;
    display: flex;
    text-align: center;
    width: 10%;
    height: 25px;
    justify-content: center;
    padding: 10px;
    margin-top: -25px;
    margin-left: 10px;
    background-color: hsl(0, 0%, 50%);
    border-radius: 15px;
    
}
.notificationSide{
    width: 30%; 
    border: 1px solid hsla(0, 0%, 79%, 0.582);

}

div.notificationSide > h3{
    position: relative;
    display: flex;
    text-align: center;
    width: 25%;
    justify-content: center;
    padding: 10px;
    margin-top: -25px;
    margin-left: 10px;
    background-color: hsl(0, 0%, 50%);
    border-radius: 15px;
}